body{
    background-image: url('pattern.jpg');
}

ul{
    position: fixed;
    width: 100%;
    margin: -10;
    margin-top: -50pt;
    padding: 0;
    background-color:rgb(247, 247, 247);
}
  
li{
    display: block;
    color:blue;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 14px;
    float: right
}

h1{
    text-align: center;
    padding-top: 20pt;
}

h3{
    font-family: montserrat;
    font-weight: 500;
  }

p{
    font-family: montserrat;
    font-weight: 500;
    font-size: 10pt;
}

section{
    background-color: white;
    margin-left: 100pt;
    margin-right: 100pt;
    margin-top: 50pt;
    padding-top: 0pt;
    padding-bottom: 5pt;
}

div{
    padding-left: 1pt;
    padding-right: 1pt;     
}

footer{
    margin: -10;
    background-color:rgb(29, 29, 29);
    height: 30pt;
}

h5{
    display:block;
    color: white;
    text-align: center;
    padding-top: 10;
    vertical-align: middle;
}
  
